/* CSS Reset */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

/* Set default font size and family */
body {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media screen and (max-width:460px) {
    body {
        width: 100%;
        height: auto;
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
    }
}

/* Remove list styles */
ol,
ul {
    list-style: none;
}

/* Additional resets and customizations go here */

/* header and logo */

.head {
    margin-bottom: 1rem;
    margin-left: 3rem;
    width: 1rem;
}

.head img {
    width: 10rem;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin-top: 2vh;
}

@media screen and (max-width:460px) {
    .container {
        position: absolute;
        width: 80%;
        height: auto;
        margin: 0rem;
    }

    .head {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .head img {
        width: 8rem;
        /* margin-bottom: .5rem; */
    }
}

/* main section - mockups, heading, para */
.main_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.section_1,
.section_2 {
    height: auto;
    margin: 1rem;
    color: white;
}

.section_1 {
    padding: 1rem;
}

.section_1 img {
    width: 90vh;
}

.section_2 {
    margin-top: -5rem;
    /* padding: 1rem; */
    /* width: 40%; */
    /* line-height: 10px; */
}

.section_2 h1 {
    font-size: 34px;
    margin-bottom: 1rem;
    width: 80%;
}

.section_2 p {
    font-size: 19px;
    margin-bottom: 2rem;
    color: rgb(212, 212, 212);
}

@media screen and (max-width:460px) {
    .main_section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
        height: auto;
    }

    .section_1 {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .section_1 img {
        width: 100%;
        margin-top: 3rem;
    }

    .section_2 {
        width: 100%;
        margin: 1rem;
        padding: 1rem;
        text-align: center;
    }

    .section_2 h1 {
        width: 100%;
        font-size: 20px;
        line-height: 28px;
        margin: 0 auto;
        padding: 1rem;
    }

    .section_2 p {
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
}

/* registration button */
.section_2 button {
    margin-top: 1px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 12px 50px 12px 50px;
    transition: all .2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.section_2 button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

@media screen and (max-width:460px) {

    .section_2 button {
        border: none;
        border-radius: 20px;
        background-color: white;
        color: hsl(257, 40%, 49%);
        padding: 12px 50px 12px 50px;
        margin: 1rem;
        padding: 12px 50px;
    }
}

/* social icons */
.social {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
}

.social__item {
    text-align: center;
    border: 1px solid white;
    padding: 12px;
    width: 4%;
    border-radius: 50%;
    color: white;
    margin: 0 5px;
}

.social__item:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
    transition: all .3s;
}

@media screen and (max-width:460px) {
    .social {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social__item {
        border: 1px solid white;
        padding: 8px;
        width: 11%;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        margin-bottom: 1rem;
    }
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

@media screen and (max-width:460px) {}